* {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
}
  
html {
    height: 100%;
    min-width: 270px;
    scroll-behavior: smooth;
}
body {
    background-color: #181818;
    color: #f3f3f3;
    height: 100%;
    width: 100%;
    font-size: 20px;
    margin: 0;
}
h1 {
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 0px 6px black;
}
p {
    font-size: 1.4rem;
    font-weight: 300;
    padding-top: 4rem;
    color: white;
    text-align: center;
}
a {
    text-decoration: none;
}
    
    /* -- Start Hamburger Menu Code -- */
    
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../assetscontact/TDI_7825-Pano_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, .4) inset;
}
  
header p {
    text-transform: uppercase;
    word-spacing: 8px;
    text-align: center;
    margin-top: 5rem;
    text-shadow: 0px 0px 6px black;
}
  
.hamburger {
    height: 20px;
    width: 20px;
    padding: 20px;
    float: right;
    cursor: pointer;
    border-radius: 0 0 5px 0;
    transition: .5s;
}
  
.hamburger:hover {
    box-shadow: 0px 0px 8px rgb(74, 137, 255);
}
.hamburger:before {
    content: "";
    display: block;
    background-color: #f3f3f3;
    width: 100%;
    height: 4px;
}
.hamburger:after {
    content: "";
    display: block;
    background-color: #f3f3f3;
    width: 100%;
    height: 4px;
    margin-top: 4px;
    box-shadow: 0px 8px 0 #f3f3f3;
}
    
nav {
    background-color: transparent;
    margin-bottom: 2rem;
    max-height: 0;
    overflow: hidden;
    clear:both;
    transition: .3s;
}
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
nav li {
    display: block;
    margin: 10px 0;
    text-align: center;
}
nav a {
    color: white;
    display: block;
}
    
header input[type="checkbox"]:checked ~ nav {
    max-height: 150px;
}
  
header a,
header label {
    transition: .3s;
}
    
header a:hover,
header a:focus,
header label:hover,
header label:focus {
    background-color: rgba(0, 0, 0, .2);
    text-shadow: 0px 0px 8px white;
    color: white;
}

  /******************/
 /*     FORM       */
/******************/

.contact-form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    
}

.contact-form_text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    width: 80vw;
}

.contact-form_text h3 {
    font-weight: 400;
    font-size: 2rem;
    padding-top: 1.9rem;
}

.contact-form_text p {
    text-align: start;
    line-height: 2.2rem;
    font-size: 1.1rem;
    font-weight: 100;
    padding: 0;
}

.contact-form_form {
    display: flex;
    justify-content: center;
}

.form-detail {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 80vw;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    padding: 20px;
    line-height: 30px;
}

.form-detail input:last-of-type {
    margin-left: 0;
}

.form-detail label {
    padding-top: 1.8rem;
    letter-spacing: 4px;
}

#vezeteknev, #email, #tel, #szakma {
    background-color: transparent;
    color: white;
    font-size: 1.2rem;
    padding: 10px;
    border-style: none;
    border-bottom: 1px solid #474747;
}

#szakma {
    height: 200px;
}

.story-button {
    text-decoration: none;
    text-transform: uppercase;
    color: #252525;
    background-color: #f3f3f3;
    padding: 15px 20px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: .5s;
    margin: 20px;
    width: 12rem;
    font-size: 1.2rem;
}
  
.story-button:hover {
    color: #f3f3f3;
    background-color: rgba(92, 92, 92, .7);
}

  /******************/
 /*     FAQ     */
/******************/

.faq_container {
    padding: 3rem 0;
    background-color: rgba(71, 71, 71, .15);
    width: 100%;
}

.centerplease {
    margin: 1rem auto;
    font-size: 30px;
    display: flex;
    padding-left: 20px;
    width: 85%;
}

.content {
    width: 85%;
    padding: 10px;
    margin: 0 auto;
    padding: 0;
}

.question {
    display: flex;
    position: relative;
    color: white;
    font-size: 1.2rem;
    margin: 0;
    padding: 17px 0px 25px 50px;
    display: block;
    width:85%;
    cursor: pointer;
    transition: .8s;
}

.question:hover {
    text-shadow: 0px 0px 12px white;
    color: lightslategray;
}
  
.answers {
    padding: 0px 15px;
    margin: 5px 0;
    max-height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    -webkit-transition: .4s linear;
    -moz-transition: .4s linear;
    -o-transition: .4s linear;
    transition: .4s linear;
}
  
  .questions:checked ~ .answers{
    max-height: 700px;
    opacity: 1;
    padding-left: 50px;
    font-size: 1.1rem;
}
  
.plus {
    position: absolute;
    margin-left: 10px;
    z-index: 5;
    font-size: 2.5em;
    line-height: 100%;
    -webkit-user-select: none;    
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
    color: white !important;
}
  
.questions:checked ~ .plus {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
  
.questions {
    display: none;
}

  /******************/
 /*     PRICES     */
/******************/

.prices_container {
    display: flex;
    flex-direction: column;
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    overflow: hidden;
}

.price-image {
    display: flex;
    width: 95vw;
    justify-content: center;
    transition: 1s;
}

.price-image:hover {
    transform: scale(1.05);
}

/* .price .price-text {
    justify-content: flex-start;
    align-items: flex-start;
} */

.prices-text {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 5px;
    margin: 7rem 0 7rem;
}

.pricetitle {
    font-size: 1.5rem;
    margin: 2rem 0 1rem;
    font-weight: 600;
}

.price-text ul {
    margin-left: 2rem;
    font-size: 1.1rem;
    letter-spacing: 1px;
    list-style: outside;
}
  
.price-text li {
    line-height: 30px;
}

.prices {
    margin: 3rem 0;
    font-size: 1.4rem;
    font-weight: 300;
}


  /******************/
 /*     DEPOSIT    */
/******************/

.deposit-others_container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 3rem;
    background-color: rgba(44, 44, 44, 0.7);
}

.deposit-others_container h3, p {
    text-align: start;
    padding: 0;
    line-height: 2rem;
}

.deposit-others_container h3 {
    font-size: 2rem;
    font-weight: 300;
    padding: 2rem 0;
}

.deposit-others_container p {
    font-size: 1.1rem;
}


  /******************/
 /*     FOOTER     */
/******************/

.footer-container {
    display: flex;
    flex-direction: column;
}

.footer-navbar-arrowup {
    display: flex;
    justify-content: center;
}
  
.footer-navbar, .footer-arrowup {
    display: flex;
    flex-direction: column;
    padding: 50px 25px;
}
  
.footer-navbar > a {
    text-decoration: none;
    color: rgb(201, 201, 201);
    padding: 10px 20px;
    transition: .5s;
    font-size: 1.2rem;
}
  
.footer-navbar > a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 8px white;
}
  
.fa-arrow-up-long {
    color: white;
    justify-self: flex-start;
    font-size: 1.5rem;
    transition: .5s;
}
  
.fa-arrow-up-long:hover {
    text-shadow: 0px 0px 8px white;
}
  
.footer-copyright-social {
    display: flex;  
    flex-direction: column;
    align-items: center;
    padding: 20px 0 80px 0;
}
  
.footer-copyright {
    display: flex;
    align-items: center;
}
  
.footer-copyright p {
    text-align: center;
    padding: 10px;
    font-size: .9rem;
}

.social {
    display: flex;
}
  
.social > a {
    text-decoration: none;
    padding: 10px;
    margin: 0 5px;
    color: white;
    transition: .5s;
}
  
.social > a:hover {
    color: lightslategray;
}
  
.poweredbydtp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    color: #f3f3f3;
    background-color: #252525;
    position: fixed;
    z-index: 10;
    bottom: 0;
}
  
  
.poweredbydtp a {
    font-size: 18px;
    padding: 0 8px;
    color: #e97c00;
    transition: .5s;
    cursor: pointer;
    border: none;
}
  
.poweredbydtp a:hover {
    color: #ffaa48;
    text-shadow: 0px 0px 8px orange;
  
}
  
.powered {
    font-size: 14px;
    letter-spacing: 1px;
    color: #f3f3f3;
    padding: 0;
}



  /*********************/
 /*    RESPONSIVE     */
/*********************/

@media (min-width: 768px) {
    header {
        height: 910px;
        background-attachment: fixed;
    }

    h1 {
        font-size: 4rem;
        padding-top: 15rem;
        letter-spacing: 4px;
        word-spacing: 15px;
    }

    header p {
        font-size: 1.8rem;
        padding-top: 5rem;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    
    .hamburger {
        display: none;
    }
          
    header a:hover,
    header a:focus,
    header label:hover,
    header label:focus {
        background-color: transparent;
    }
    
    nav {
        display: flex;
        justify-content: space-evenly;
        border: 0 !important;
        max-height: none;
    }
    
    nav ul, nav li, nav li a {
        display: inline-block;
    }
    
    nav a {
        display: inline-block;
        padding: 10px;
        margin: 10px 35px;
        font-size: 1.5rem;
    }

      /******************/
     /*     FORM       */
    /******************/

    .contact-form_container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        margin-bottom: 6rem;
    }

    .contact-form_text {
        width: 25vw;
        padding: 5rem auto;
    }

    .form-detail {
        width: 45vw;
        padding: 5rem auto;
    }

    .faq_container {
        display: flex;
        padding: 5rem 0;
    }

    .centerplease {
        display: flex;
        width: 30vw;
        padding-left: 5%;
    }

    .question {
        font-size: 1.8rem;
    }

    .prices-section1 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 8rem;
    }

    .prices-section2 {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    .price {
        width: 45vw;
        margin: 0 auto;
    }

    .price-image {
        width: 23vw;
    }

    .prices-section2 img {
        width: 40vw;
        height: auto;
    }

    .prices-text {
        margin-bottom: 12rem;
    }

    .prices-section1 .price-text {
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .deposit-others_container {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .deposit_container,
    .others_container {
        padding: 6rem 2rem;
        width: 45vw;
    }

     /*************************/
    /*     FOOTER            */
   /*************************/

    .footer-navbar-arrowup {
        padding: 20px;
    }

    .footer-navbar, .footer-arrowup {
        flex-direction: row;
    }

    .footer-navbar > a {
        padding: 0px 20px;
        font-size: 1.4rem;
    }

    .footer-copyright p {
        font-size: 1.2rem;
        text-transform: none;
    }

    .powered {
        text-transform: none;
    }
}

.hidden {
    position: fixed;
    top: -100%;
    left: -100%;
}