* {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
}
  
html {
    height: 100%;
    min-width: 300px;
    scroll-behavior: smooth;
}

body {
    background-color: #181818;
    color: #f3f3f3;
    height: 100%;
    width: 100%;
    font-size: 20px;
    margin: 0;
}

h1 {
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}

p {
    font-size: 1.4rem;
    font-weight: 300;
    padding-top: 4rem;
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
}
    
    /* -- Start Hamburger Menu Code -- */
    
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../assets/iceland_mounts1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, .4) inset;
}
  
header p {
    text-transform: uppercase;
    word-spacing: 8px;
}
  
.hamburger {
    height: 20px;
    width: 20px;
    padding: 20px;
    float: right;
    cursor: pointer;
    border-radius: 0 0 5px 0;
    transition: .5s;
}
  
.hamburger:hover {
    box-shadow: 0px 0px 8px rgb(74, 137, 255);
}
.hamburger:before {
    content: "";
    display: block;
    background-color: #f3f3f3;
    width: 100%;
    height: 4px;
}
.hamburger:after {
    content: "";
    display: block;
    background-color: #f3f3f3;
    width: 100%;
    height: 4px;
    margin-top: 4px;
    box-shadow: 0px 8px 0 #f3f3f3;
}
    
nav {
    background-color: transparent;
    margin-bottom: 2rem;
    max-height: 0;
    overflow: hidden;
    clear:both;
    transition: .3s;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

nav li {
    display: block;
    margin: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    display: block;
}
    
header input[type="checkbox"]:checked ~ nav {
    max-height: 150px;
}
  
header a,
header label {
    transition: .3s;
}
    
header a:hover,
header a:focus,
header label:hover,
header label:focus {
    background-color: rgba(0, 0, 0, .2);
    text-shadow: 0px 0px 8px white;
    color: white;
}







.hidden {
    position: fixed;
    top: -100%;
    left: -100%;
}